*{
    padding: 0 auto;
    margin: 0 auto;
}
body{
    margin: 0 auto;
}
.tituloPrincipal{
    text-align: center;
}
h2{
    margin: 20px 0 10px 30px;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin: 20px;
}

/* EJERCICIO 1 */
table{
    margin: 5px;
}
#tablaTitulo {
    border: 1px solid black;
    border-collapse: collapse;
}
#tablaTitulo tr, td, th {
    border: 1px solid black;
}
.letraRojo{
    color: red;
}
.letraAzul{
    color: blue;
}
.letraAmarillo{
    color: rgb(173, 173, 11);
}
.letraVerde{
    color: rgb(22, 133, 8);
}

/* EJERCICIO 2 */

a{
    color: #CC0000;
}
#menu a:hover{
    background-color: #CC0000;
    color: #FFF;
}
/* a:visited{
    color: #CCC;
} */

/* EJERCICIO 3 */

.contenedorTablaImg{
    width: 100%;
}
#tablaImg{
    border: none !important;
}
#tablaImg tr, td, th {
    border: none !important;
}
img{
    padding: 10px;
    width: 80%;
}

/* EJERCICIO 4 */
li{
    border: thin solid;
    width: 120px;
    padding: 5px;
}
li:hover{
    cursor: pointer;
    border: thin solid;
    width: 120px;
    padding: 5px;  
    background-color: #E4E4E4;
 
}
.enlacesMenuP{
    padding-left:20px;
}
.enlacesMenuP:hover{
    background-color: #E4E4E4;
}
.imagenCambiante {
    background: url(../img/img1.png) no-repeat;
}
.imagenCambiante:hover {
    background: url(../img/img2.png) no-repeat;
}
