*{
    margin: 0;
    padding: 0;
    
}
.grid-container{
    color: aliceblue;
    background-color: rgb(53, 111, 187);
    display: grid;
    row-gap: 5px; /*separación entre filas */
    grid-template: auto / auto auto auto ;
    padding: 10px;
}
@media (max-width: 600px) {
    .grid-container {
        grid-template: auto / auto ;
    }
    label, input, textarea, select{
        width: 95% !important;
    }
}

label, input, textarea, select{
    margin-top: 5px;
    display: block;
    width: 80%;
}
label{
    margin-top: 20px;
}
input, textarea, select{
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    background-color: rgb(38, 92, 163);
    padding: 6px;
}
select{
    border-radius: 50px;
    background-image: linear-gradient(to bottom , rgb(38, 92, 163) , rgb(92, 151, 218));
    background-color:rgb(9, 34, 63);
}
input::placeholder{
    color: rgb(166, 173, 194);
}

.containerBtn{
    text-align: center;
    background-color: rgb(53, 111, 187);
   
}
.btnLimpiar, .btnEnviar{
    border-radius: 20px;
    font-size: 1.2em;
    display: inline;
    width: 20%;
    margin: 15px 0 15px 0;

}
.btnLimpiar{
    background-color: rgb(30, 57, 92); 
}
.btnEnviar{
    background-color: rgb(16, 101, 212);
}
.btnLimpiar:hover{
    background-color: rgb(49, 66, 88);
}
.btnEnviar:hover{
    background-color: rgb(59, 124, 209);
}
