body{
background-color: rgb(255, 255, 255);
}
.encabezado {
    text-align: center;
}

#container{
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template: auto / auto auto ;

}

.tarjeta {
    border: thin solid  rgb(82, 19, 61);
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    color: rgb(60, 17, 141);
    box-shadow: rgb(101, 53, 156) 5px 5px 12px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.seccion_mapa{
    width: 150px;
    height: 200px;
}


/* MEDIAS QUERY */
@media (min-width: 800px) {
    #container{
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template: auto / auto auto auto ;
    
    }
}
@media (max-width: 600px) {
    #container{
        display: grid;
        grid-template: auto / auto;
    
    }
}
